* {
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  *:focus {
    outline: 1px solid #FF1D61;
  }
  
  body {
    overflow-x: hidden;
    margin: 0;
  }
  
  .top_navbar {
    width: 22.5rem;
    height: 3.125rem;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1875rem;
    width: 22.5rem;
    padding-bottom: 0px;
  }
  
  main .main_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
  }
  
  main .main_header h1 {
    color: #000;
    text-align: center;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }
  
  .main_header .container_add_new {
    display: flex;
    gap: 0.3125rem;
  }
  
  svg {
    width: 0.4375rem;
    height: 0.4375rem;
    align-self: center;
  }
  
  .main_header .container_add_new h2 {
    color: #000;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  
  main section .contacts_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
  }
  
  section .contacts_header .h1_contacts_header {
    color: #000;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .big_rectangle {
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    height: 30rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  }

  main footer {
    display: flex;
    width: 22.5rem;
    height: fit-content;
    padding: 1.75rem 1rem 1rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    flex-shrink: 0;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    background: #FFF;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
  }
  
  main footer .company_info {
    display: flex;
    width: 15.625rem;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    flex-shrink: 0;
  }
  
  main footer svg {
    width: 1.5625rem;
    height: 1.5625rem;
    flex-shrink: 0; 
  }
  
  main footer .company_info #company_info_title {
    color: #000;
    text-align: center;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }
  
  main footer .company_info .header_subtitle {
    color: #000;
    text-align: center;
    font-size: 0.800rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  main footer .navlinks {
    display: flex;
    width: 15.625rem;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
    flex-shrink: 0;
  }
  
  main footer .navlinks h1 {
    color: #000;
    text-align: center;
    font-size: 1.375rem;
    font-family: League Spartan;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }
  
  footer .navlinks a {
    color: #000;
    text-align: center;
    font-size: 0.800rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: 0.125s;
  }
  
  footer .navlinks a:hover {
    font-weight: 600;
  }
  
  footer .contact_info {
    display: flex;
    width: 15.625rem;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 0.3125rem;
    flex-shrink: 0;
  }
  
  main footer .contact_info h1 {
    color: #000;
    text-align: center;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }
  
  footer .contact_info p {
    color: #000;
    text-align: center;
    font-size: 0.800rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
  }

  footer .navlinks a {
  color: #000;
  text-align: center;
  font-size: 0.800rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: 0.125s;
  text-decoration: none;
}

footer .navlinks a:hover {
  font-weight: 600;
}

footer .contact_info {
  display: flex;
  width: 15.625rem;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
  flex-shrink: 0;
}

main footer .contact_info h1 {
  color: #000;
  text-align: center;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

footer .contact_info p {
  color: #000;
  text-align: center;
  font-size: 0.800rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}